@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	//font-size: 100%;
	//font: inherit;
	//vertical-align: baseline;
}
body{
    font-family: 'Open Sans', sans-serif; 
    background-color:#e6e3ed;
    background-size: cover;
}
.container{
  width:100%;
  max-width:auto;
  float:none;
  clear:none;
  padding:0;
  margin:0 auto;
  overflow:hidden;
}

.header{
  height:40px;
  background:#0d9d94;
  padding:15px;
}
.navbar-header{
  width:40%;
  float:left;
}
h3 p{
  font-size: 20px;
  margin-left: 30px;
}
a.admin_name{
  text-decoration:none;
  color:black;
}
.navbar-right-header{
  width:60%;
  float:left;
}
.navbar-right-header ul{
  list-style:none;
  cursor:pointer;
  margin:0 15px;
}
ul.dropdown-navbar-right{
  float: right;
  width:auto;
  position:relative;
}
ul.dropdown-navbar-right ul{
  list-style:none;
  position:absolute;
  right:-10px;
  display:none;
  width:auto;
  white-space:nowrap;
  background: #212121;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}
ul.dropdown-navbar-right ul li a{
  color: black;
  text-decoration: none;
}
.dropdown-navbar-right img{
  width:45px;
  height:45px;
  border-radius: 50px;
}
ul.dropdown-navbar-right ul li a:hover{
  color: black;
}
ul.dropdown-navbar-right ul li:hover{
   color: black;
}
ul.dropdown-navbar-right ul li{
  padding:5px 15px;
}
ul.dropdown-navbar-right ul li:hover{
  background:rgba(245,245,245,1);
}
.body_container{
 width:100%;
 clear:both;

}
.left_sidebar{
 width:15%;
 height: auto;
 float:left;
 background:#242d32;
 }
.left_sidebar_box{
 padding-bottom:55px;
 height: 100%;
}

.content{
 width:75%;
 float:left;
}
.content_box{
 padding:15px;
}

/* Left Sidebar Here */
.left_sidebar_box ul{
  position:relative;
  display:block;
  width:auto;
}
.left_sidebar_box ul li{
  line-height:40px;
  position:relative;
}
.arrow{
  position:absolute;
  top:13px;
  right:1px;
  padding:0 10px 0 3px;
}
.left_sidebar_box ul a{
  padding:5px 15px;
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-weight:bold;
}
.left_sidebar_box ul li:hover{
  background:rgba(0,0,0,0.50);
}
.left_sidebar_box ul ul li{
  position:relative;
}
.left_sidebar_box ul ul li:hover{
  background:rgba(0,0,0,0.03);
}
.left_sidebar_box ul ul li a{
  margin-left:20px;
}
/* Left Sidebar Ends */


/** Add Product Here */
.border_bottom{
  border-bottom:0.01px solid rgba(0,0,0,0.2);
  margin:10px 0;
}
.border_bottom1{
  border-bottom:3px solid #0d9d94;
  margin:10px 0;
}
.form_box input[type=text]{
  padding:3px 10px;
  margin:5px 0;
}
.form_box select{
  width:40%;
  padding:3px 10px;
  margin:5px 0;
}
.form_box input[type=file]{
  margin:5px 0;
}
.form_box textarea{
 width:80%;
 
}
.form_box input[type=submit]{
 padding:10px 15px;
 background: rgba(28, 130, 199, 0.9);
 border: 0.01px solid rgba(28, 130, 199,0.8);
 color:white;
}

/** Add Product Ends */

/** View Product Starts **/

.search_bar{
  float:right;
  margin-bottom:15px;
}
.search_bar input[type=text]{
  padding:3px 7px;
}
.view_product_box th, .view_product_box td{
  text-align:left;
}
 #remover{
      padding: 7px;
      background:#ffc107;
      width: 100px;
      position: relative;
      border-radius: 4px;
      text-align: center;
    }
    .view_product_box input[type=submit]{
      border: none;
      background: none;
      color: white;
      font-family: 'Open Sans', sans-serif; 
      font-size: 17px;
    }
     .view_product_box input[type=submit]:hover{
      background: none;
     }
    #remover:hover{
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.40), 0 2px 10px 0 rgba(0,0,0,0.19);
    }
    
/** View Product Ends **/










